@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --hero-text: #F9FAF8;
  --hero-background: #1F2937;
  --quote-background: #E5E7Eb;
  --accent: #3882f6;
}

html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Times, serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2 {
  margin: 0;
}

/* Section common rules */

.section {
  padding: 0 24px;
}

.section--hero {
  background-color: var(--hero-background);
}

.section__container {
  max-width: 957px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.section__container--column {
  flex-direction: column;
}

/* Header section rules */

a {
  font-size: 18px;
  text-decoration: none;
  color: gray;
}

.header__logo {
  font-size: 24px;
  font-weight: 900;
  margin-right: auto;
  color: var(--hero-text);
}

.header__nav-links {
  display: flex;
  list-style: none;
  gap: 16px
}

/* Hero section rules */

.hero {
  padding: 72px 24px;
}

.hero__container {
  gap: 16px;
  padding: 72px 0;
  justify-content: space-between;
}

.hero__left {
  width: 50%;
}

.hero__image {
  width: 550px;
  height: 270px;
  margin-left: 24px;
}

.hero__heading {
  font-size: 48px;
  font-weight: 900;
  color: var(--hero-text);
}

.hero__description {
  font-size: 18px;
  color: var(--quote-background);
}

.hero__signup-button {
  font-weight: 700;
  color: var(--hero-text);
  padding: 8px 24px;
  border-radius: 8px;
  background-color: var(--accent);
  border: none;
}

/* Info section rules */

.info {
  padding: 24px 24px;
}

.info__heading {
  color: var(--hero-background);
  margin-bottom: 24px;
}

.info__list {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 40px;
}

.info__item {
  margin: 0;
  width: 150px;
  text-align: center;
}

.info__image {
  object-fit: cover;
  border: 3px solid var(--accent);
  width: 100%;
  height: 150px;
  border-radius: 10px;
  text-align: center;
}

.info__caption {
  font-size: 14px;
  color: gray;
}

/* Quote section rules */

.quote {
  padding: 72px 0;
}

.section--quote {
  text-align: left;
  background-color: var(--quote-background);
}

.section__container--quote {
  flex-direction: column;
  align-items: flex-end;
  max-width: 700px;
  color: var(--hero-background);
}

.quote__text {
  font-size: 36px;
  margin: 0;
  margin-bottom: 16px;
  font-weight: 300;
  font-style: italic;
}

.quote__author {
  font-size: 24px;
  font-weight: bold;
  padding-right: 40px;
}

/* CTA sections rules */
.cta {
  padding: 72px 0;
}

.section__container--cta {
  color: var(--hero-text);
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 40px 100px;
  background-color: var(--accent);
}

.cta__text {
  font-size: 18px;
  font-weight: 300;
}

.cta__text div:first-child {
  font-size: 24px;
  font-weight: bold;
}

.cta__signup {
  flex-shrink: 0;
  cursor: pointer;
  color: var(--hero-text);
  font-size: 18px;
  font-weight: bold;
  border: 2px solid var(--hero-text);
  border-radius: 8px;
  padding: 8px 32px;
  background-color: transparent;
}