@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --hero-text: #F9FAF8;
  --hero-background: #1F2937;
  --text-secondary: #E5E7Eb;
}

html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Times, serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  background-color: var(--hero-background);
}

.header-container {
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: var(--text-secondary);
}

.logo {
  font-size: 24px;
  font-weight: 900;
  margin-right: auto;
  color: var(--hero-text);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 16px
}